@import'../../assets/scss/color';

.attendances-view {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  .map{
  }
  .info {
    padding: .5em;
    .title-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .title{
        font-weight: bold;
        font-size: 1.3em;
        color: $grey-8;
        padding: .2em .5em;
      }
      .tag-bar{
        margin: .2em .5em;
        .tag{
          font-size: .8em;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          padding: 0 .5em;
        }
        .tag_1{
          color: #52c41a;
          background: #f6ffed;
          border-color: #b7eb8f;
        }
        .tag_0 {
          color: #fa541c;
          background: #fff2e8;
          border-color: #ffbb96;
        }
        .tag_-1{
          color: #1890ff;
          background: #e6f7ff;
          border-color: #91d5ff;
        }
        .tag_2 {
          color: #faad14;
          background: #fffbe6;
          border-color: #ffe58f;
        }
        .tag_3 {
          color: #13c2c2;
          background: #e6fffb;
          border-color: #87e8de;
        }
      }
    }

    .description {
      padding: .5em .8em;
    }
    .time-countdown {
      padding: .2em .7em;
    }
  }
  .action {
    padding: 1em;

  }
  .members-list {
    padding: 1em;
  }
  .leave-list {
    padding: .5em;
  }
  .leave {
    padding: 0 1em;
  }
  .button {
    padding: .5em 1em;
  }
}
