@import'../../assets/scss/color';

.attendances-view {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  .map{
  }
  .info {
    padding: .5em;
    .title{
      font-weight: bold;
      font-size: 1.1em;
      color: $grey-8;
      padding: 1em .5em;
      padding-top: 0.2em;
    }
    .description {
      padding: 1em .5em;
      padding-top: 0.2em;
    }
  }
  .action {
    padding: .5em;
  }
}
