@import'../../assets/scss/color';
.create-attendances-view {
  .progress-bar{
    height: 1em;

    position:fixed;
    width: 100%;
    background: $white;
    z-index: 10;
    left:0;
    top:0;
  }
  .content{
    margin-top: 1em;
    .title{
      font-weight: bold;
      font-size: 1.1em;
      color: $grey-8;
      padding: .5em .7em;
      padding-top: .8em;
    }
    .title-input{
      padding: 0 .5em;
      .text-area{
        padding: 0 .8em;
      }
    }
    .time-picker{
      padding: 0 .5em;
      .picker{
        position:relative;
        padding: 24rpx 0;
        color:#333;
        background-color:#FFF;
        margin-left: 32rpx;
        margin-bottom: 1PX;
        display: flex;
        border-bottom: 0.5px solid #d6e4ef;
        .label {
          margin-right:16rpx;
          width:172rpx;
          font-size:32rpx;
          line-height:1.5;
          vertical-align:middle;
          text-align:left;
        }
        .value {
          font-size:32rpx;
          line-height:1.5;
          height:auto !important;
          min-height:auto !important;

        }

      }
    }
    .address-picker{
      padding: 0 .5em;
      font-size: 32rpx;
      .map{
        margin: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .submit-button {
      padding: 2em;
      padding-bottom: 3em;
    }
  }
}
