.association-view {
  height: 100vh;
  background: #f8f8f8;
  .association-header {
    height: 13rem;
    display: flex;
    flex-direction: column;
    background: url("../../static/img/md.jpeg");
    justify-content: space-between;
    background-size: 100%;
    .action-bar {
      height: 1.5rem;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      .button {
        padding: .3rem;
      }
    }
    .title {
      margin: .3em .5em;
      color: #f5f5f5;
      font-weight: bold;
      font-size: 1.5em;
    }
  }
  .association-content{
    background: #ffffff;
    height: calc(100vh - 10rem)
  }
}
