.page-layout{
  width: 100%;
}
.message-view {
}

.home-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .home-view-header {
    display: flex;
    flex-direction: row;
    padding: .3em .6em;
    justify-content: space-between;
    align-items: center;
    .association-title{
      font-weight: bold;
      font-size: 1.3em;
    }
    .action-bar{

    }
  }
  .home-view-swiper {
    padding: .3em .6em;
    border-right: 4px;
  }
  .home-view-action-grid {
    margin: .3em .6em;
    border-top: 1px solid #e8e8e8;
  }
}

.account-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .user-info-view{

  }
}

.home-action-grid{
  margin: .5em .2em;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 10px 1px hsla(0,0%,75%,.45);
  border-radius: 8px;
  .action-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #595959;
    margin-top: .6em;
    margin-left: .6em;
  }
}
.account-action-list {
  box-shadow: 0 0 10px 1px hsla(0,0%,75%,.45);
  border: 1px solid #e8e8e8;
  height: 75vh;
  background: #fff;
}
.associationLeaderIcon {
  height: 1em;
  width: 1em;
  background-image: url("../../static/icon/associationLeader.png");
  background-size: 100%;
}
.departmentLeaderIcon {
  height: 1em;
  width: 1em;
  background-image: url("../../static/icon/departLeader.png");
  background-size: 100%;
}

.ho-list-item {
  padding: .5em;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  color:#333;
  line-height:1.5;
  -webkit-transition:background-color 0.3s;
  -o-transition:background-color 0.3s;
  transition:background-color 0.3s;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 0 solid #d6e4ef;
}
.ho-list-item:active {
  background-color: #f0f0f0;
}
.ho-list-item-divider {
  border: 0 solid #d6e4ef;
  transform: scale(.95);
  border-bottom-width: 0.5px;
}
