@import "~taro-ui/dist/style/components/flex.scss";
@import '../../assets/scss/color';
.action-grid-view {
  .grid-title {
    font-weight: bold;
    font-size: 1em;
    padding-top: .5em;
    color: $grey-9;
  }
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
    .item-title {
      font-size: 0.8em;
      margin-top: .3em;
      color: #595959;
    }
  }
}

.all-asso-list {
  height: 3em;
  width: 3em;
  background-image: url("../../assets/icon/all-asso-list.png");
  background-size: 100%;
}
.create-asso{
  height: 3em;
  width: 3em;
  background-image: url("../../assets/icon/create-asso.png");
  background-size: 100%;
}
.notices {
  height: 3em;
  width: 3em;
  background-image: url("../../assets/icon/notice.png");
  background-size: 100%;
}
.check {
  height: 3em;
  width: 3em;
  background-image: url("../../assets/icon/attendance.png");
  background-size: 100%;
}
.mission {
  height: 3em;
  width: 3em;
  background-image: url("../../assets/icon/mission.png");
  background-size: 100%;
}
.department{
  height: 3em;
  width: 3em;
  background-image: url("../../assets/icon/department.png");
  background-size: 100%;
}
.manage {
  height: 3em;
  width: 3em;
  background-image: url("../../assets/icon/manage.png");
  background-size: 100%;
}
.paiban{
  height: 3em;
  width: 3em;
  background-image: url("../../assets/icon/paiban.png");
  background-size: 100%;
}
.appraisings{
  height: 3em;
  width: 3em;
  background-image: url("../../assets/icon/appraisings.png");
  background-size: 100%;
}
.zhaoxin {
  height: 3em;
  width: 3em;
  background-image: url("../../assets/icon/zhaoxin.png");
  background-size: 100%;
}
