.userinfo-view {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: url("../../static/img/bk.jpeg");
  background-size: 100%;

  .userinfo-item {
    margin: 10px;
  }
}
