@import '../../assets/scss/color';
.notices-view{
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #fff;
  .notices-list {
    padding: .2em;
    .card {
      margin: .5em 0;
    }
  }
  .notice-bottom {
    text-align: center;
    height: 5em;
    padding: 5em;
  }
  .notice-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em;
    .content{
      margin-bottom: 1em;
    }
    .extra{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .author{
        font-size: .8em;
        color: $grey-8;
      }
      .date {
        font-size: .8em;
        color: $grey-8;
      }
    }
  }
}
